<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>CrunchifyJSPServletExample</display-name>

    <servlet>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <servlet-class>com.lxisoft.contactapp.servelet.ContactControl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.lxisoft.contactapp.servelet.ContactAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/createnew</url-pattern>
    </servlet-mapping>
   
           <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.lxisoft.contactapp.servelet.Contactsearch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
