<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet-mapping>
    <servlet-name>addcontact</servlet-name>
    <url-pattern>/add </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addcontact</servlet-name>
    <servlet-class>com.lxisoft.Servlet.Search</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>viewall</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewall</servlet-name>
    <servlet-class>com.lxisoft.Servlet.AllContacts</servlet-class>
  </servlet>

   <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>search</servlet-name>
  <servlet-class>com.lxisoft.Servlet.Search</servlet-class>
</servlet>
</web-app>