<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SHOWING THE CELL</title>
    </head>
    <body>
        <ul th:object="${cell}">
            <h1>HERE IS YOUR TASKS...</h1>
            <li>CELL NUMBER: <span th:text="${cell.id}"></span></li>
            <h1>Preparation Questions</h1>
            <li th:each="qb : ${cell.prepQB}">
                <ul>
                    <li>Your Task One <a th:href="@{/showTheQuestion/{id}(id=${qb.id})}">ShoW</a></li>
                </ul>
            </li>
        </ul>
    </body>
</html>
