<web-app>  
  
<servlet>  
<servlet-name>servlet</servlet-name>  
<servlet-class>com.lxisoft.Control.QuestionServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>servlet</servlet-name>  
<url-pattern>/QuestionServlet</url-pattern>  
</servlet-mapping>  


<servlet>  
<servlet-name>resultservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.ResultServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>resultservlet</servlet-name>  
<url-pattern>/ResultServlet</url-pattern>  
</servlet-mapping>

  
<servlet>  
<servlet-name>addservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.AddServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>addservlet</servlet-name>  
<url-pattern>/AddServlet</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>updateservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.UpdateServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>updateservlet</servlet-name>  
<url-pattern>/UpdateServlet</url-pattern>  
</servlet-mapping>


<servlet>  
<servlet-name>viewservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.ViewServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>viewservlet</servlet-name>  
<url-pattern>/ViewServlet</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>deleteservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.DeleteServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>deleteservlet</servlet-name>  
<url-pattern>/DeleteServlet</url-pattern>  
</servlet-mapping>

<!-- <security-role>
    <role-name>admin</role-name>
    </security-role>

     <security-role>
    <role-name>user</role-name>
    </security-role>

 <security-constraint>
 	<display-name>Admin</display-name>
    <web-resource-collection>
    <web-resource-name>MockExam</web-resource-name>
    <url-pattern>/Admin.jsp</url-pattern>
    <url-pattern>/Instruction.jsp</url-pattern>
    <http-method>GET</http-method>
    <http-method>POST</http-method>
    </web-resource-collection>
        
    <auth-constraint>
   	<role-name>admin</role-name>
   	<role-name>user</role-name>
    </auth-constraint>
    </security-constraint>
         
     
    <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
    <form-login-page>/Login.jsp</form-login-page>
    <form-error-page>/Error.jsp</form-error-page>
    </form-login-config>
   </login-config> -->


<servlet-mapping>  
<servlet-name>login</servlet-name>  
<url-pattern>/LoginServlet</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>login</servlet-name>  
<servlet-class>com.lxisoft.Control.LoginServlet</servlet-class>  
</servlet>  
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>MockExam</web-resource-name>
      <url-pattern>/LoginServlet</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>admin</role-name>
    <role-name>user</role-name>
  </security-role>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Login.jsp</form-login-page>
      <form-error-page>/Error.jsp</form-error-page>
    </form-login-config>
  </login-config> 
</web-app>  
