<web-app>  
  
<servlet>  
<servlet-name>servlet</servlet-name>  
<servlet-class>com.lxisoft.Control.QuestionServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>servlet</servlet-name>  
<url-pattern>/QuestionServlet</url-pattern>  
</servlet-mapping>  


<servlet>  
<servlet-name>resultservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.ResultServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>resultservlet</servlet-name>  
<url-pattern>/ResultServlet</url-pattern>  
</servlet-mapping>

  
<servlet>  
<servlet-name>addservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.AddServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>addservlet</servlet-name>  
<url-pattern>/AddServlet</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>updateservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.UpdateServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>updateservlet</servlet-name>  
<url-pattern>/UpdateServlet</url-pattern>  
</servlet-mapping>


<servlet>  
<servlet-name>viewservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.ViewServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>viewservlet</servlet-name>  
<url-pattern>/ViewServlet</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>deleteservlet</servlet-name>  
<servlet-class>com.lxisoft.Control.DeleteServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>deleteservlet</servlet-name>  
<url-pattern>/DeleteServlet</url-pattern>  
</servlet-mapping>

 
 
</web-app>  

  


 


  

 
