<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Contact</title>
</head>
<body>
    <h2>Create New Contact</h2>
    <form th:action="@{/contacts}" th:object="${contact}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
        <label for="secondName">Second Name:</label>
        <input type="text" id="secondName" th:field="*{secondName}" />
        <label for="number">Number:</label>
        <input type="number" id="number" th:field="*{number}" />
        <input type="submit" value="Save">
    </form>
</body>
</html>
