<?xml version="1.0"?>
<web-app>
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.lxisoft.servlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/questionAdd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.lxisoft.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/questionDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>com.lxisoft.servlet.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/questionEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.lxisoft.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.lxisoft.servlet.AdduserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/userAdding</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mark</servlet-name>
		<servlet-class>com.lxisoft.servlet.MarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mark</servlet-name>
		<url-pattern>/addMark</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>result</servlet-name>
		<servlet-class>com.lxisoft.servlet.ResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>result</servlet-name>
		<url-pattern>/resultView</url-pattern>
	</servlet-mapping>

</web-app>		