<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Mock Exam</display-name>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>com.lxisoft.controller.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteQuestion</servlet-name>
    <servlet-class>com.lxisoft.controller.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestion</servlet-name>
    <url-pattern>/DeleteQuestion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateQuestion</servlet-name>
    <servlet-class>com.lxisoft.controller.UpdateQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestion</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>com.lxisoft.controller.UserSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SetAnswere</servlet-name>
    <servlet-class>com.lxisoft.controller.SetMarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAnswere</servlet-name>
    <url-pattern>/setMark</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>printResult</servlet-name>
    <servlet-class>com.lxisoft.controller.PrintResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printResult</servlet-name>
    <url-pattern>/viewResult</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SetExam</servlet-name>
    <servlet-class>com.lxisoft.controller.ExamSetupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetExam</servlet-name>
    <url-pattern>/SetExam</url-pattern>
  </servlet-mapping>
      <security-role>
      <role-name>admin</role-name>
    </security-role>

    <security-role>
      <role-name>user</role-name>
    </security-role>

    <security-constraint>
      <web-resource-collection>
         <web-resource-name>MockExam</web-resource-name>
         <url-pattern>/usersignup</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
      </web-resource-collection>
      
      <auth-constraint>
         <role-name>admin</role-name>
         <role-name>user</role-name>
      </auth-constraint>

      </security-constraint>
</web-app>