<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Mock Exam</display-name>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>com.lxisoft.controller.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>  
</web-app>