table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  background-color: yellow;
  width: 30%;
  text-align:center;
}

th {
  height: 50px;
}
#button{
	
	margin: 0 auto;
	display: flex;
	justify-content: center;
}