<web-app> 
  

      <servlet> 
         <servlet-name>Approval</servlet-name> 
         <servlet-class>com.sanfar.control.Approval</servlet-class> 
    </servlet> 
    <servlet-mapping> 
         <servlet-name>Approval</servlet-name> 
         <url-pattern>/approval</url-pattern> 
    </servlet-mapping>



      <servlet> 
         <servlet-name>Display</servlet-name> 
         <servlet-class>com.sanfar.control.Display</servlet-class> 
    </servlet> 
    <servlet-mapping> 
         <servlet-name>Display</servlet-name> 
         <url-pattern>/display</url-pattern> 
    </servlet-mapping>

     <servlet> 
         <servlet-name>Add</servlet-name> 
         <servlet-class>com.sanfar.control.WriteRequest</servlet-class> 
    </servlet> 
    <servlet-mapping> 
         <servlet-name>Add</servlet-name> 
         <url-pattern>/add</url-pattern> 
    </servlet-mapping>

  

       
       
         <servlet> 
         <servlet-name>Login</servlet-name> 
         <servlet-class>com.sanfar.control.Login</servlet-class> 
    </servlet> 
    <servlet-mapping> 
         <servlet-name>Login</servlet-name> 
         <url-pattern>/authenticate</url-pattern> 
    </servlet-mapping>
<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.sanfar.control.Register1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>

        <display-name>Tomcat7FormBasedJAAS</display-name>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Covid19AffidavitRequester</web-resource-name>
            <url-pattern>/authenticate</url-pattern>
        </web-resource-collection>
        <auth-constraint>
             <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
         <role-name>admin</role-name>
        <role-name>user</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/failur.jsp</form-error-page>
        </form-login-config>
    </login-config>


</web-app>